# Exercises from The Complete SQL Bootcamp: Go from Zero to Hero

## ASSESSMENT TEST 2

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\luigg\anaconda3\lib\site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import psycopg2 as pg2
import pandas as pd

In [19]:
conn = pg2.connect(database='exercises', user='postgres',password='password')

In [20]:
cur = conn.cursor()

1.	How can you retrieve all the information from the cd.facilities table? SELECT * FROM cd.facilities

In [21]:
cur.execute('SELECT * FROM cd.facilities') 
cur.fetchone()

(0,
 'Tennis Court 1',
 Decimal('5'),
 Decimal('25'),
 Decimal('10000'),
 Decimal('200'))

2.	You want to print out a list of all of the facilities and their cost to members. How would you retrieve a list of only facility names and costs?

In [22]:
cur.execute('SELECT name,membercost FROM cd.facilities') 
cur.fetchone()

('Tennis Court 1', Decimal('5'))

3.	How can you produce a list of facilities that charge a fee to members?

In [23]:
cur.execute('SELECT name FROM cd.facilities WHERE membercost >0') 
cur.fetchone()

('Tennis Court 1',)

4.	How can you produce a list of facilities that charge a fee to members, and that fee is less than 1/50th of the monthly maintenance cost? Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [24]:
cur.execute('SELECT facid,name,membercost,monthlymaintenance FROM cd.facilities WHERE membercost >0 AND membercost <monthlymaintenance/50') 
cur.fetchone()

(4, 'Massage Room 1', Decimal('35'), Decimal('3000'))

5.	How can you produce a list of all facilities with the word 'Tennis' in their name?

In [25]:
cur.execute("SELECT * FROM cd.facilities WHERE name iLIKE '%Tennis%'") 
cur.fetchone()

(0,
 'Tennis Court 1',
 Decimal('5'),
 Decimal('25'),
 Decimal('10000'),
 Decimal('200'))

6.	How can you retrieve the details of facilities with ID 1 and 5? Try to do it without using the OR operator.

In [26]:
cur.execute('SELECT * FROM cd.facilities WHERE facid IN (1,5)') 
cur.fetchone()

(1,
 'Tennis Court 2',
 Decimal('5'),
 Decimal('25'),
 Decimal('8000'),
 Decimal('200'))

7.	How can you produce a list of members who joined after the start of September 2012? Return the memid, surname, firstname, and joindate of the members in question.

In [27]:
cur.execute("SELECT memid, surname, firstname,joindate FROM cd.members WHERE joindate > '2012-09-01'") 
cur.fetchone()

(24, 'Sarwin', 'Ramnaresh', datetime.datetime(2012, 9, 1, 8, 44, 42))

8.	How can you produce an ordered list of the first 10 surnames in the members table? The list must not contain duplicates.

In [28]:
cur.execute("SELECT DISTINCT surname FROM cd.members ORDER BY surname LIMIT 10") 
cur.fetchone()

('Bader',)

9.	You'd like to get the signup date of your last member. How can you retrieve this information?

In [29]:
cur.execute("SELECT joindate FROM cd.members ORDER BY memid DESC LIMIT 1") 
cur.fetchone()

(datetime.datetime(2012, 9, 26, 18, 8, 45),)

10.	Produce a count of the number of facilities that have a cost to guests of 10 or more.

In [30]:
cur.execute("SELECT COUNT(*) FROM cd.facilities where guestcost >=10") 
cur.fetchone()

(6,)

11.	Produce a list of the total number of slots booked per facility in the month of September 2012. Produce an output table consisting of facility id and slots, sorted by the number of slots.

In [31]:
cur.execute("SELECT facid, SUM(slots) FROM cd.bookings WHERE starttime >= '2012-09-01' and starttime < '2012-10-01' GROUP BY facid ORDER BY sum ASC") 
cur.fetchone()

(5, 122)

12.	Produce a list of facilities with more than 1000 slots booked. Produce an output table consisting of facility id and total slots, sorted by facility id.

In [32]:
cur.execute("SELECT facid, SUM(slots) as sum_slots FROM cd.bookings GROUP BY facid HAVING SUM(slots) >1000 ORDER BY sum_slots ASC") 
cur.fetchone()

(6, 1104)

13.	How can you produce a list of the start times for bookings for tennis courts, for the date '2012-09-21'? Return a list of start time and facility name pairings, ordered by the time.

In [33]:
cur.execute("SELECT starttime, name FROM cd.bookings LEFT JOIN cd.facilities on cd.bookings.facid =  cd.facilities.facid WHERE starttime >= '2012-09-21' AND starttime < '2012-09-22' AND cd.facilities.name LIKE 'Tennis Court%' ORDER BY starttime") 
cur.fetchone()

(datetime.datetime(2012, 9, 21, 8, 0), 'Tennis Court 1')

14.	How can you produce a list of the start times for bookings by members named 'David Farrell'?

In [34]:
cur.execute("SELECT CONCAT(firstname,' ',surname) AS fullname,starttime FROM cd.bookings LEFT JOIN cd.members ON cd.bookings.memid =  cd.members.memid WHERE cd.members.firstname LIKE 'David' AND cd.members.surname LIKE 'Farrell' ORDER BY starttime") 
cur.fetchone()

('David Farrell', datetime.datetime(2012, 9, 18, 9, 0))